<!--
SKYUX Builder - Local Development Only
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= htmlWebpackPlugin.options.runtime.app.base %>">
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title><%= htmlWebpackPlugin.options.skyux.app.title %></title>

  <%= getExternal('css', 'before') %>
  <%= getExternal('css', 'after') %>
  <%= getExternal('js', 'before', true) %>
  <%= getExternal('js', 'after', true) %>

</head>
<body>
  <sky-pages-app>Loading...</sky-pages-app>

  <%= getExternal('js', 'before', false) %>
  <script>__webpack_public_path__ = '<%= htmlWebpackPlugin.options.runtime.app.base %>';</script>

  <% htmlWebpackPlugin.files.js.forEach(file => { %>
    <script src="<%= file %>"></script>
  <% }) %>

  <%= getExternal('js', 'after', false) %>

</body>
</html>

<%
function getExternal(type, hook, isHead) {
  if (htmlWebpackPlugin.options.skyux.app.externals
    && htmlWebpackPlugin.options.skyux.app.externals[type]
    && htmlWebpackPlugin.options.skyux.app.externals[type][hook]) {

    function getIntegrity(entry) {
      return entry.integrity ? ` integrity="${entry.integrity}" crossorigin="anonymous"` : '';
    }

    var html = ``;
    htmlWebpackPlugin.options.skyux.app.externals[type][hook].forEach(entry => {
      switch (type) {
        case 'css':
          html += `<link rel="stylesheet" href="${entry.url}"${getIntegrity(entry)}>`;
        break;
        case 'js':
          if ((isHead && entry.head) || (!isHead && !entry.head)) {
            html += `<script src="${entry.url}"${getIntegrity(entry)}></script>`;
          }
        break;
      }
    });
    return html;
  }
}
%>
